// start .sBrif
.sBrif {
	--sPT: 0;
	--sPB: #{rem(10)};
	// --sTPB: ;

	&__slider {
		margin-top: -293px;
		overflow: visible;
	}

	&__slide {
		background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
		backdrop-filter: blur(15px);
		@supports not (backdrop-filter: blur(15px)) {
			background-color: rgba($color: #fff, $alpha: 0.8);
		}
		border: solid 1px #F0F0F1;
		border-radius: 8px;
		padding: rem(30) rem(23) rem(32);
		display: flex;
		flex-direction: column;
		height: auto;
		@each $breakpoint, $container-max-width in $container-max-widths {
			@include media-breakpoint-up($breakpoint, $grid-breakpoints) {
				--containerW: #{$container-max-width};
			}
		};
		width: 260px;
		@include media-breakpoint-up(lg) {
			width: calc(var(--containerW) / 5.39);
		}

		&:last-child {
			margin-right: 0 !important;
		}
	}

	&__btn {
		display: block;
		margin-top: auto;
		padding-bottom: rem(7);
		text-align: center;
		border-bottom: solid 4px #FFBA72;
		color: $body-color;
		text-decoration: none;
		text-transform: uppercase;
		font-size: rem(19);
		font-weight: bold;
		@extend .mono2;
		max-width: 215px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;

		.icon {
			margin-left: rem(8);
			fill: none;
			stroke: currentColor;
			// font-size: rem(6);
			@include mt;
		}

		&:hover {
			.icon {
				margin-left: rem(15);
				transform: rotate(360deg);
			}
		}
	}

	&__title {
		text-transform: uppercase;
		font-size: rem(22px);
		position: relative;
		text-align: center;
		padding-bottom: rem(23);
		margin-bottom: rem(14);

		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			@include a-cent(x);
			background: rgba(0, 0, 0, 0.1);
			border-radius: rem(9px);
			width: rem(114px);
			height: 1px;
		}
	}

	p {
		text-align: center;
		max-width: rem(210);
		margin-left: auto;
		margin-right: auto;
		@extend .mono2;
	}

	ul {
		list-style: none;
		padding-left: rem(10);
		padding-bottom: rem(17);

		li {
			font-size: $h6-font-size;
			padding-left: rem(21);
			position: relative;
			line-height: calc(23/18);
			padding-bottom: rem(7);
			@extend .mono2;

			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: 7px;
				width: 4px;
				height: 4px;
				background: #DFDFE0;
				transform: rotate(-43.54deg);
			}
		}
	}

	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sBrif
