.navMenu{
	display: flex;
	list-style: none;
	@include roww(54px);
	position: relative;
	margin-bottom: 0;
	max-width: 100%;
	flex-wrap: wrap;

	&__link{
		color: $body-color;
		font-weight: 500;

		text-decoration: none;
		display: block;
		text-align: center;
		@include media-breakpoint-up(md) {
			text-transform: uppercase;
		}
		font-size: rem(24px);
	}
}