.navMenu{
	display: flex;
	list-style: none;
	@include roww(33px);
	position: relative;
	margin-bottom: 0;
	max-width: 100%;
	flex-wrap: wrap;

	&__item {
		display: flex;
		align-items: center;
		&.dropdown {
			&::after {
				content: '';
				display: block;
				width: 13px;
				height: 8px;
				background-image: url('../img/svg/chevron-down.svg');
				background-size: 100%;
				background-position: center;
				background-repeat: no-repeat;
				margin-left: rem(12);
			}
		}
	}

	&__link{
		color: $body-color !important;
		font-weight: 500;
		text-decoration: none;
		display: block;
		text-align: center;
		padding-top: rem(16);
		padding-bottom: rem(16);
		@include media-breakpoint-up(md) {
			text-transform: uppercase;
		}
		font-size: rem(24px);
		position: relative;

		&::before {
			content: '';
			position: absolute;
			@include a-cent1(x);
			bottom: rem(25);
			background: #FFBA72;
			border-radius: 14px;
			height: 1px;
			opacity: 0;
			width: 100%;
			@include mt(.5);
		}

		&:hover {

			&::before {
				opacity: 1;
				bottom: 0;
				width: 79px;
			}
		}
	}
}